
<div class="container">
  <div class="heading">
    <h1><%= @treehouse.name %></h1>
  </div>
  <div class="row show-row">
    <div class="col-5 col-text">
        <p><%= @treehouse.description %></p>
        <p><b><i class="fa-solid fa-location"></i></b> <%= @treehouse.location %></p>
        <p><b>Price per night: </b>£<%= @treehouse.price %></p>
        <%= link_to "Book", new_treehouse_booking_path(@treehouse.id), class:"btn btn-success" %>
        <%= link_to "View More", treehouses_path, class:"btn btn-outline-dark" %>
    </div>
    <div class="col-5 col-img">
      <% if @treehouse.photo.attached? %>
        <%= cl_image_tag @treehouse.photo.key, class:"show-img" %>
      <% else %>
        <%= image_tag "main-treehouse.jpg", alt: "treehouse", class:"show-img" %>
      <% end %>
  </div>
    <div class="container my-1 p-3 d-flex justify-content-center">
    <div id="map"
      style="width: 80%; height: 400px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>
