
<div class="container">
  <div class="heading">
  
    <h1><%= @treehouse.name %></h1>
  </div>
  <div class="row show-row">
    <div class="col-md-5 col-sm-12 col-text">
      <p><%= @treehouse.description %></p>
      <p><%= icon('fas', 'map-marker-alt') %> <%= @treehouse.location %></p>
      <p><b><%= icon('fas', 'tag') %> Price per night: </b>£<%= @treehouse.price %></p>
      <%= simple_form_for([ @treehouse, @booking ]) do |f| %>
      <div class="book-form">
        <%= f.input :check_in, as: :date, html5: true, input_html: {value: Date.today} %>
        <%= f.input :check_out, as: :date, html5: true, input_html: {value: Date.today} %>
      </div>
      <div class="book-form">
        <%= f.input :total_price, as: :hidden %>
        <p id="price-p-night"><%= (@treehouse.price) %></p>
        <p class="tPrice">Total Price: £<span id="total-price"></span> </p>
        <% if user_signed_in? %>
          <%= f.button :submit, "Book Your Stay", class: 'btn btn-success'%>
        <% else %>
          <%= link_to "Sign in to book", new_user_session_path, class: 'btn btn-success'%>
        <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-md-5 col-sm-12 col-img">
      <% if @treehouse.photo.attached? %>
        <%= cl_image_tag @treehouse.photo.key, class:"show-img" %>
      <% else %>
        <%= image_tag "main-treehouse.jpg", alt: "treehouse", class:"show-img" %>
      <% end %>
    </div>
    <div class="container my-1 p-3 d-flex justify-content-center">
    <div id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>
