<%= simple_form_for([ treehouse, booking ]) do |f| %>
  <%= f.input :check_in, as: :date, html5: true, input_html: {value: Date.today} %>
  <%= f.input :check_out, as: :date, html5: true, input_html: {value: Date.today} %>
  <%= f.input :total_price, as: :hidden %>
  <p id="price-p-night"><%= (treehouse.price) %></p>
  <p class="tPrice">Total Price: £<span id="total-price"></span> </p>
  <%= f.button :submit, "Book Your Stay", class: 'btn btn-primary btn-md'%>
<% end %>
