
<div class="container">
  <div class="my-treehouses-container">
    <h2>My Bookings</h2>
    <p>Here are your future bookings. Enjoy your stay.</p>
    <div class="row">
      <% current_user.bookings.each do |booking| %>
      <div class="card" style="width: 19rem;">
        <% if booking.treehouse.photo.attached? %>
          <%= cl_image_tag booking.treehouse.photo.key, class:"card-img-top" %>
        <% else %>
          <%= image_tag "main-treehouse.jpg", alt: "treehouse", class:"card-img-top" %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= booking.treehouse.name %></h5>
          <p class="card-text"> <b>Check in:</b>  <%= booking.check_in %></p>
          <p class="card-text"><b>Check out: </b> <%= booking.check_out %></p>
          <p class="card-text price"><b>Total price:</b>  <%= booking.total_price %>£</p>
          <div class="card-footer footer-pink">

          <%= link_to treehouse_path(booking.treehouse.id) do %>
          <p>View <%= booking.treehouse.name %> <%= icon('fas', 'eye') %></p>
          <% end %>
            <%# <%= link_to "Ammend", "#", class:"btn btn-light" %>
            <%# <%= link_to "Cancel", "#", method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-outline-light" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="my-treehouses-container">
    <h2>My Treehouses</h2>

    <p>Your listed treehouses. Easily view, edit, or delete the treehouse.</p>
      <div class="row">
        <% current_user.treehouses.each do |treehouse| %>
          <div class="card" style="width: 18rem;">
            <% if treehouse.photo.attached? %>
              <%= cl_image_tag treehouse.photo.key, class:"card-img-top" %>
            <% else %>
              <%= image_tag "main-treehouse.jpg", alt: "treehouse", class:"card-img-top" %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= link_to treehouse.name, treehouse_path(treehouse.id) %></h5>

              <p class="card-text"><%= treehouse.description %></p>
              <p class="card-text price">Price ner Night: £<%= treehouse.price %></p>
                  <div class="card-footer">
                    <%= link_to "Edit", edit_treehouse_path(treehouse.id), class:"btn btn-light" %>
                    <%= link_to "Delete", treehouse_path(treehouse), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-outline-light" %>
                  </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
